
.ipynb_checkpoints/
__pycache__/
.idea/
.vscode/

*.png
*.xlsx
*.h5
*.json
*.csv

catboost_info

# build related
*dist/
*build/

# docs
site/
docs/source/auto_examples/
docs/source/gen_modules/

# private stuff
results/
data/
paper/
envs/
